.red {
  color: red;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  transition: 0.5s;
}

a:hover {
  color: #ffffff;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

#loginPage {
  width: 30%;
  transform: translate(90%, 30%);
  background-color: #ececec;
  border: 2px solid #5aa7de;
  padding: 2em;
  border-radius: 5px;
}

.button {
  background-color: white;
  border: hidden;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0.5em;
  border: none;
}

.button:hover {
  background-color: #31acff;
  color: white;
  transition: 0.5s;
  border-radius: 1em;
}

.flexcontainer {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  gap: 1em;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.logininputs {
  padding: 0.5em;
  border: solid 2px black;
  border-radius: 0.5em;
}

.titleanimation {
  -webkit-animation: fadeout 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 1s;
  /* Firefox < 16 */
  -ms-animation: fadeout 1s;
  /* Internet Explorer */
  -o-animation: fadeout 1s;
  /* Opera < 12.1 */
  animation: fadeout 1s;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/* Internet Explorer */
@-ms-keyframes fadeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.loginanimation {
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#main {
  transition: margin-left 0.5s;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
  background-color: #006fbe;
  color: black;
  text-align: center;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#mainPage {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
#addTaskBtn:hover {
  background-color: #a00909;
}

#addSubjectBtn:hover {
  background-color: royalblue;
}

#signOutBtn:hover {
  background-color: #31acff;
}

.logoutbutton {
  background-color: black;
  color: white;
  border: hidden;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border: none;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}

.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black;
}

.box-shadow-menu:hover {
  cursor: pointer;
}

#user {
  font-size: 1.5em;
}

#addsubjectwindow {
  text-align: center;
  padding: 3em;
  max-width: 20%;
  transform: translate(130%, 130%);
  background-color: #f1f1f1;
  border: solid #3484ec 2px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.472);
  border-radius: 5px;
}

#addtaskwindow {
  text-align: center;
  padding: 3em;
  max-width: 20%;
  transform: translate(130%, 130%);
  background-color: #f1f1f1;
  border: solid #0f7901 2px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.472);
  border-radius: 5px;
}

.title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden;
  border-radius: 5px;
}

.maintitle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  backface-visibility: hidden;
  border-radius: 5px;
  color: black;
}

.noopacity {
  opacity: 0;
}

/*# sourceMappingURL=main.css.map */
