#loginPage {
  width: 30%;
  transform: translate(90%, 30%);
  background-color: rgb(236, 236, 236);
  border: 2px solid #5aa7de;
  padding: 2em;
  border-radius: 5px;
}

.button {
  background-color: white;
  border: hidden;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0.5em;
  border: none;
}
.button:hover {
  background-color: rgb(49, 172, 255);
  color: white;
  transition: 0.5s;
  border-radius: 1em;
}

.flexcontainer {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  gap: 1em;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.logininputs {
  padding: 0.5em;
  border: solid 2px black;
  border-radius: 0.5em;
}
