.logoutbutton {
  background-color: black;
  color: white;
  border: hidden;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border: none;
}
.logoutbutton:hover {
  background-color: rgb(49, 172, 255);
  transition: 0.5s;
  border: solid 2px black;
  cursor: pointer;
}
