#addsubjectwindow {
  text-align: center;
  padding: 3em;
  max-width: 20%;
  transform: translateX(130%); //Translates 130%
  background-color: rgb(241, 241, 241);
  border: solid rgb(52, 132, 236) 2px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.472);
  border-radius: 5px;
}
